.eco-product-text
  %h1 Екологично Чист Продукт

  %p
    Суровият материал, който се използва за производство на панелите за
    стена е влакнестият остатък от стъблата на захарната тръстика. Ето
    защо цялостният продукт е 100% рециклируем.

  %p
    Остатъка от захарната тръстика е един от най-подновируемите източници
    в света, защото захарната тръстика може да се добива 3 пъти в годината.
    Общият световен добив е повече от 1.2 милиарда кубични тона за година.
    3 тона от захарната тръстика е еквивалентен на 1 тон суров материал.

  %p
    Суровият материал за изработката на панелите за стена е също така
    компостируем и 100% биоразградим. Посредством рециклиране, вместо
    унищожение на продукта, ние създаваме истински екологично чисти
    продукти!

  .images
    = image_tag 'ecoproduct_1.jpg'
    = image_tag 'ecoproduct_2.jpg'

.eco-product-image
  = image_tag 'ecoproduct_3.jpg'
