%h1 Green and Eco-friendly product

%p
  The raw material used for the production of the WallArt 3d wall panels is the
  fibrous residue remaining after sugarcane stalks are crushed to extract their
  juice. Therefore we can claim that this fibrous residue used as the raw
  material is 100% recycled.

%p
  Bagasse, as a residue of sugarcane, is one of the world's most renewable
  sources because sugarcane can be harvested up to 3 times a year. The total
  harvest worldwide is more than 1.2 billion metric tons yearly. 3 ton of
  sugarcane equals 1 ton of bagasse.

%p
  The raw material of the WallArt 3d wall panels, bagasse, is also compostable
  and therefore 100% biodegradable at the end of its life cycle. By re-using the
  waste of sugarcane production instead of burning it we can say it is a real
  eco-friendly product!

= image_tag 'ecoproduct_1.jpg'
