.index-page
  .slider-wrapper
    #slider.nivoSlider
      - @slideshow_images.each do |image|
        = image_tag "slideshow/#{File.basename(image)}"

  %h1
    =t :text_3
  %p
    =t :text_4
  %p
    =t :text_5
  %p
    =t :text_6

:javascript
  $(document).ready(function() {
    $('#slider').nivoSlider({
      effect: 'fold',
      controlNav: false,
      directionNav: false,
      pauseTime: 5000,
      randomStart: true
    });
  });
